
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VSOSCO - Digital Agency One Page Template</title>
    <meta name="description" content="VSOSCO is a Digital agency one page template built based on bootstrap framework. This template is design by Robert Berki and coded by Jenn Pereira. It is simple, mobile responsive, perfect for portfolio and agency websites. Get this for free exclusively at ThemeForces.com">
    <meta name="keywords" content="bootstrap theme, portfolio template, digital agency, onepage, mobile responsive, VSOSCO, free website, free theme, themeforces themes, themeforces wordpress themes, themeforces bootstrap theme">
    <meta name="author" content="ThemeForces.com">

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.css">



    <!-- Slider
    ================================================== -->
    <link href="/css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="/css/owl.theme.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="/js/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/index.html">RUNSHARK</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="~/index.html" class="page-scroll">Home</a></li>
                    <li><a href="~/index.html" class="page-scroll">About</a></li>
                    @*<li><a href="#tf-team" class="page-scroll">Team</a></li>*@
                    <li><a href="~/Services.html" class="page-scroll">Services</a></li>
                    <li><a href="~/Products.html" class="page-scroll">Products</a></li>
                    @*<li><a href="#tf-works" class="page-scroll">Portfolio</a></li>
                    <li><a href="#tf-testimonials" class="page-scroll">Testimonials</a></li>*@
                    <li><a href="#" class="page-scroll">Contact</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    
        <div class="container">
            <div class="section-title center">
                <section id="contact" name="contact" class="contact-page-area section-gap" style="padding:90px 0">
                    <div class="container">
                        <div class="row d-flex justify-content-center">
                            <div class="menu-content pb-70 col-lg-8">
                                <div class="title text-center">
                                    <h1 class="mb-10" style="color:#031b4e;">Contact Us</h1>
                                    <!--<p>It is very easy to start smoking but it is an uphill task to quit it. Ask any chain smoker or even a person.</p>-->
                                </div>
                            </div>
                        </div>
                        <div style="max-width:600px;margin:0 auto">
                            <div class="alert alert-success" id="success-alert" style="display:none">
                                @*<button type="button" class="close" data-dismiss="alert">x</button>*@
                                <strong>Success! </strong>
                                Your message has sent. Thanks for contacting.
                            </div>
                            <div class="alert alert-danger" id="failure-alert" style="display:none">
                                @*<button type="button" class="close" data-dismiss="alert">x</button>*@
                                <strong>Sorry! </strong>
                                something went wrong, please try again
                            </div>




                        </div>
                        <div class="row" id="contactUs">

                            <div class="col-lg-4 d-flex flex-column address-wrap">
                                <div class="single-contact-address d-flex flex-row">
                                    <div class="icon">
                                        <span class="lnr lnr-home"></span>
                                    </div>
                                    <div class="contact-details">
                                        <h5>Hyderabad, India</h5>
                                        <p>
                                            11-24, Panjagutta, Hyderabad
                                        </p>
                                    </div>
                                </div>
                                <div class="single-contact-address d-flex flex-row">
                                    <div class="icon">
                                        <span class="lnr lnr-phone-handset"></span>
                                    </div>
                                    <div class="contact-details">
                                        <h5>(901) 4454 730 ,(917) 7098 010</h5>
                                        <p>Mon to Fri 9am to 6 pm</p>
                                    </div>
                                </div>
                                <div class="single-contact-address d-flex flex-row">
                                    <div class="icon">
                                        <span class="lnr lnr-envelope"></span>
                                    </div>
                                    <div class="contact-details">
                                        <h5>octamux.info@gmail.com</h5>
                                        <p>Send us your query anytime!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <form id="contactForm" class="form-area contact-form text-right" onsubmit="return SendEmail()">
                                    <div class="row">
                                        <div class="col-lg-6 form-group">
                                            <input name="name" id="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">

                                            <input name="email" id="email" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control" required="" type="email">

                                            <input name="phonenum" id="phoneNum" placeholder="Enter PhoneNumber" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter PhoneNumber'" class="common-input mb-20 form-control" required="" type="text">
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <textarea class="common-textarea form-control" name="message" id="message" placeholder="Enter Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Messege'" required=""></textarea>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="alert-msg" style="text-align: left;"></div>
                                            <button type="submit" class="genric-btn primary" id="btnSendMessage" style="float: right;">Send Message</button>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            
        </div>
    </div>
    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>ALL RIGHTS RESERVED. COPYRIGHT © 2014. Designed by <a href="https://dribbble.com/shots/1817781--FREEBIE-VSOSCO-Digital-agency-one-page-template">Robert Berki</a> and Coded by <a href="https://dribbble.com/jennpereira">Jenn Pereira</a></p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/SmoothScroll.js"></script>
    <script type="text/javascript" src="/js/jquery.isotope.js"></script>

    <script src="/js/owl.carousel.js"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript">

        function SendEmail() {

            $(".loader-wrap").show();
            var name = $("#name").val();
            var email = $("#email").val();
            var phonenum = $("#phoneNum").val();
            var message = $("#message").val();
            $.ajax({
                url: '/RunShark/SendEmailContactForm/',
                data: { "name": name, "email": email, "phoneNum": phonenum, "message": message },
                type: 'POST',
                //   contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    console.log(data);

                    $(".loader-wrap").hide();
                    if (data == 'True') {

                        $("#success-alert").css("display", "block");
                        $("#success-alert").css("opacity", "1");

                        $("#success-alert").fadeTo(4000, 0).slideUp(1500, function () {
                            $(this).css("display", "none");
                        });

                        $("#name").val('');
                        $("#email").val('');
                        $("#phoneNum").val('');
                        $("#message").val('');
                    }
                    else {

                        $("#failure-alert").css("display", "block");
                        $("#failure-alert").css("opacity", "1");

                        $("#failure-alert").fadeTo(4000, 0).slideUp(1500, function () {
                            $(this).css("display", "none");
                        });

                        //$("#name").val('');
                        //$("#email").val('');
                        //$("#phoneNum").val('');
                        //$("#message").val('');
                    }
                },
                failure: function (response) {
                    $(".loader-wrap").hide();
                    console.log(response.responseText);
                },
                error: function (response) {
                    $(".loader-wrap").hide();
                    console.log(response.responseText);
                }
            });

            return false;
        }


        $(document).ready(function () {

        });


    </script>
</body>
</html>
